<nav class="navbar navbar-default navbar-fixed-top" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand hvr-underline-reveal" href="index.php">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="hvr-underline-reveal" href="generator.php">Meme Generator</a></li>
        <li><a class="hvr-underline-reveal" href="about.php">About</a></li> 
        <li><a class="hvr-underline-reveal" href="contact.php">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="hvr-underline-reveal" href="login.php">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
                
